@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* :root {
  --bg-color: #dbf3ff;
  --second-bg-color: #c5e2ff;
  --third-bg-color: #599eff;
  --fourth-bg-color: #55d8fc;
  --text-color: black;
  --main-color: #7aafff;
  --temporary-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --normal-font-size: 1.5rem;
  --small-font-size: 1rem;
  --sidebar-width: 78px;
  --sidebar-open-width: 250px;
} */

:root {
  /* Colors */
  --bg-color: #ffffff;
  --bg2-color: #eff8ff;
  --second-bg-color: #161b8e;
  --third-bg-color: #599eff;
  --toggle-bg-color: #c5e2ff;
  --text-color: black;
  --main-color: #7aafff;
  --temporary-color: #1a73e8;
  --input-color: #dadce0;
  --light-gray: #f5f5f7;
  --medium-gray: #d1d1d6;
  --dark-gray: #80868b;

  /* Typography */
  --font-family: "Arial", sans-serif;
  --normal-font-size: 1.5rem;
  --small-font-size: 1rem;
  --large-font-size: 2rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-normal: 1.5;

  /* Layout */
  --sidebar-width: 78px;
  --sidebar-open-width: 250px;
  --container-width: 1200px;
  --container-padding: 1rem;
  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --gap-large: 2rem;

  /* Border Radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  /* Transition and Animation */
  --transition-speed: 0.3s;
  --transition-ease: ease-in-out;
  --animation-duration: 1s;
  --animation-timing: ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 5px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

img {
  padding: 2rem;
  width: 350px;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  padding: 2rem 0;
}

label {
  font-size: 14px;
}
/* End of General Setup */

/* Splash Screen */
.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #2700ef, #ffffff, #001f3f);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#svg {
  width: 450px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #000000;
  font-size: 20px;
  letter-spacing: 5px;
  margin-left: 20px;
  font-weight: 700;
}
/* End of Splash Screen */

/* Divider */
.divider {
  border: none;
  border-top: 1px solid #dcdcdc;
  margin: 1px auto;
  width: 100%;
}
/* End of Divider */

/* Snow Effect */
.snow {
  background: white;
  border-radius: 50%;
  position: absolute;
  animation: snowFall 10s linear;
  z-index: 999;
}

@keyframes snowFall {
  0% {
    opacity: 0;
    top: 0;
    transform: translateX(-5px);
  }
  10% {
    opacity: 1;
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  30% {
    opacity: 1;
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}
/* End of Snow Effect */

/* Welcome Text */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: none;
  border-radius: 15px;
  z-index: 10;
  background-color: #f0f0f0;
  width: 500px;
  max-width: 80%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.modal-header .title {
  font-size: 1.35rem;
  font-weight: 600;
  color: black;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  transition: color 200ms ease-in-out;
}

.modal-header .close-button:hover {
  color: #ff0000;
}

.modal-body {
  padding: 15px 20px;
  color: black;
  font-size: 1.2rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-button {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
  letter-spacing: 1px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 6px 6px 12px #b3b3b3, -6px -6px 12px #ffffff;
  overflow: hidden;
}

.modal-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.modal-button:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.modal-button:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 16px #b3b3b3, -6px -6px 16px #ffffff;
}

.modal-button:hover:after {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
/* End of Welcome Text */

/* SignIn Button */
.btn {
  /* --border-color: linear-gradient(-45deg, #0004ff, #003856, #542ad1); */
  --border-color: linear-gradient(-45deg, #2700ef, #0064f0, #001f3f);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  font-weight: 600;
  border-radius: 3rem;
  text-transform: uppercase;
  filter: drop-shadow(3px 4px 6px rgba(0, 0, 0, 0.5));
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  border-radius: 3rem;
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -1;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  clip-path: polygon(
    /* Top-left */ var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */ calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */ calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
    /* bottom-right 2 */ calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-10%);
}
/* End of SignIn Button */

/* Signin Section */
.signin {
  background-image: url(../assets/Background/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  min-height: 100vh;
}

@keyframes borderColorChange {
  0% {
    border-color: var(--toggle-bg-color);
  }
  25% {
    border-color: var(--third-bg-color);
  }
  50% {
    border-color: var(--third-bg-color);
  }
  100% {
    border-color: var(--toggle-bg-color);
  }
}

.container-signin {
  background-color: white;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  border: 10px solid;
  animation: borderColorChange 5s linear infinite;
  filter: drop-shadow(8px 8px 10px black);
}

.container-signin form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  width: 360px;
}

.form-container-signin {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  right: 0;
  width: 50%;
  z-index: 1;
}

.div_form {
  width: 100%;
  margin: 6rem 0 1rem;
}

.input-content {
  position: relative;
  height: 52px;
  margin-bottom: 3rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.input-details {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 0;
  border-radius: 1rem;
  outline: 2px solid var(--toggle-bg-color);
  background-color: #f6f6f6;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.form_label {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  padding: 0 0.25rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
  border-radius: 2rem;
}

.input-details:focus {
  outline-offset: 5px;
  background-color: white;
}

.input-details:focus + .form_label {
  top: -1.2rem;
  left: 0.8rem;
  color: var(--temporary-color);
  background-color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 500;
  z-index: 2;
}

.input-details:not(:placeholder-shown).input-details:not(:focus) + .form_label {
  top: -1.8rem;
  left: 0.8rem;
  font-size: var(--normal-font-size);
  background-color: var(--toggle-bg-color);
  padding: 2.5px 20px;
  font-weight: 500;
  z-index: 3;
}

.input-details:focus {
  border: 2px solid var(--temporary-color);
}

.toggle {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 0 150px 100px 0;
  z-index: 4;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

/* .container.active .toggle {
  transform: translateX(-100%);
} */

.toggle-left {
  background-color: var(--toggle-bg-color);
  position: relative;
  left: -100%;
  width: 200%;
  height: 100%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  color: black;
}

/* .container-active .toggle-left {
  transform: translateX(50%);
} */

.toggle-panel {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

/* .container-signin.active .toggle-panel {
  transform: translateX(0);
} */

.toggle-panel {
  right: 0;
}
/* End of Signin Section*/

/* Sidebar Section */
.sidebar {
  min-height: 100vh;
  width: var(--sidebar-width);
  padding: 6px 14px;
  z-index: 9999;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f5f5f8;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}

.sidebar.open {
  width: var(--sidebar-open-width);
}

.sidebar .logo_details {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem 0 3rem;
}

.sidebar .logo_details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name {
  color: var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
  opacity: 1;
}

.sidebar .logo_details #btn-sidebar-menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details #btn-sidebar-menu {
  text-align: right;
}

.sidebar i {
  color: var(--third-bg-color);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 999;
  background-color: var(--color-white);
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.sidebar li:hover .tooltip {
  opacity: 1;
  background-color: var(--toggle-bg-color);
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease;
  z-index: 999;
}

.sidebar li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--third-bg-color);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -1;
}

.sidebar li.log_out a::after {
  background-color: red;
}

.sidebar li a:hover::after {
  transform: scaleX(1);
  color: var(--text-color);
}

.sidebar li a .link_name {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 450;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
  transition: all 0.5s ease-in-out;
  color: white;
  font-weight: 700;
}

.sidebar.open li a .link_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}
/* End of Sidebar Section */

/* Room Section */
.room-section {
  position: relative;
  background-color: var(--bg2-color);
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  transition: all 0.5s ease;
  z-index: 1;
  scroll-padding-top: 2rem;
  scroll-padding-bottom: 2rem;
}

.sidebar.open ~ .room-section {
  left: 60px;
  width: calc(100% + 60px);
}

section .container-room,
section .main-room,
sectionsection .footer- {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.content-room {
  scroll-snap-align: start;
}

.main-room {
  height: 100vh;
  scroll-snap-align: start;
}

.room-content {
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.icon-1 {
  width: 20%;
  height: 20%;
  animation: float 5s ease-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header h1 {
  font-size: 4rem;
  color: var(--text-color);
}

.header p {
  font-size: 1.5rem;
  color: var(--text-color);
}

.btn-primary,
.btn-secondary {
  background-color: var(--third-bg-color);
  color: white;
  font-size: 1.4rem;
  font-weight: 450;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--third-bg-color);
}

.container-room {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 600px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}

.container-room .slide-room .item-room {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide-room .item-room:nth-child(1),
.slide-room .item-room:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.slide-room .item-room:nth-child(3) {
  left: 50%;
}
.slide-room .item-room:nth-child(4) {
  left: calc(50% + 220px);
}
.slide-room .item-room:nth-child(5) {
  left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide-room .item-room:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item-room .content-room {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}

.slide-room .item-room:nth-child(2) .content-room {
  display: block;
}

.content-room .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
  margin-bottom: 2rem;
}

.content-room .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content-room.prev,
.content-room.next {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.btn-prevnext {
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.btn-prevnext button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 3px;
  background: white;
  transition: 0.3s;
  font-size: 1.5rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 1, 1, 5));
}

.btn-prevnext button:hover {
  background: var(--third-bg-color);
  color: #fff;
}

/* End of Room Section */

/* Book Room Section*/
.booking-section {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  background: var(--bg2-color);
}

.sidebar.open ~ .booking-section {
  left: 250px;
  width: calc(100% + 250px);
}

section .content-booking,
section .main-booking {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.content-booking {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 2rem;
}

.main-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  margin: 6rem;
}

.booking-img {
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  width: 100%;
  height: 50%;
  background-image: url(../assets/Background/room-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.booking-header {
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: 10px 10px 10px #000000;
  padding: 2rem;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.booking-header h1 {
  font-size: 4.5rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.booking-header p {
  font-size: 1.6rem;
  color: var(--text-color);
}

.instruction {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.test-book {
  text-align: center;
}

/* .img-bookroom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bookroom img {
  height: auto;
  max-height: 200px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
} */

.form-container-room {
  background-color: #fff;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  padding: 2rem;
  max-width: 1000px;
  width: 50%;
}

.form-bookroom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-field {
  margin-bottom: 1.5rem;
  padding: 5px;
}

.form-field label {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-field input,
.form-field select,
.form-field textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #eee;
  outline: none;
}

.form-field textarea {
  resize: vertical;
  height: 120px;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn-fillform {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn-submit {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-submit:hover {
  background-color: var(--third-bg-color);
}

.required {
  color: red;
  font-weight: 600;
}

/* End of Book Room Section */

/* Room List Section */
.roomlist-section {
  background-color: var(--bg2-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  width: 100%;
  z-index: 1;
}

.sidebar.open ~ .roomlist-section {
  left: 50px;
  width: calc(100% + 50px);
}

.cover-roomlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-roomlist {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateX(100px);
}

.container-roomlist {
  background-color: var(--bg-color);
  width: 100%;
  max-width: 900px;
  border: 1px solid #ddd;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  padding: 2rem;
  margin: 5rem 0 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

header.roomlist {
  text-align: center;
  margin-bottom: 20px;
}

header.roomlist h1 {
  margin: 0;
  font-size: 30px;
}

header.roomlist p {
  margin: 5px 0;
  color: #777;
  font-size: 15px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 75%;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.filters label {
  margin-right: 5px;
  font-size: 1rem;
  color: #333;
}

.selected-time {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selected-time label {
  font-weight: 600;
  font-size: 16px;
}

.selected-month,
.selected-year {
  background-color: white;
  padding: 1rem;
  border: 0.5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#month,
#year {
  font-size: 16px;
  cursor: pointer;
}

/* .show-roomlist-btn {
  display: block;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--third-bg-color);
  color: black;
  font-weight: 700px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.lists {
  display: flex;
  justify-content: space-between;
  margin: 3.5rem 0;
}

.list {
  width: 30%;
}

.list h2 {
  font-size: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin: 2rem 0 3rem;
}

.item {
  /* border: 0.5px solid #ddd; */
  border-radius: 15px;
  background-color: var(--light-gray);
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
  padding: 10px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.item p {
  margin: 0;
  font-size: 15px;
  font-weight: 550;
}

.roomlist-item {
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: var(--bg-color);
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roomlist-item:hover {
  background-color: var(--bg-color);
}

.status {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.status.success {
  border: none;
  background: linear-gradient(135deg, #32ff7e, #3ae374);
  color: #fff;
  box-shadow: 0 0 15px rgba(50, 255, 126, 0.6);
}

.status.fail {
  background: linear-gradient(135deg, #ff0000, #ff3b30);
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 77, 77, 0.6);
}

.cancel {
  display: inline-block;
  margin: 3px;
  padding: 12px 24px;
  background: linear-gradient(135deg, #ff3b30, #b30000, #ff5e57);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 59, 48, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cancel:hover {
  background: linear-gradient(135deg, #ff0000, #ff3333);
  box-shadow: 0 6px 10px rgba(255, 59, 48, 0.7);
  transform: translateY(-2px);
}

.cancel:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(255, 59, 48, 0.5);
}

/* .back-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
} */

.canceled-text {
  color: #ff3b30;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: line-through;
  background-color: #fefefe;
  padding: 12px 24px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.canceled-text:hover {
  background: linear-gradient(135deg, #ff3b30, #b30000, #ff5e57);
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* End of Room List Section */

/* Room Desc Section */
/* Room Desc Section */
.roomdesc-section {
  background-color: var(--bg2-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  width: 100%;
  z-index: 1;
}

.sidebar.open ~ .roomdesc-section {
  left: 10px;
  width: calc(100% + 10px);
}

.cover-roomdesc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 55%;
}

.img-roomdesc {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateX(20px);
}

.container-roomdesc {
  margin: 0 auto;
  background: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
  box-shadow: 5px 5px 10px #000000;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 70rem;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-roomdesc:hover {
  transform: translateY(-5px);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

header p {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
}

p.signed {
  font-size: 20px;
  font-weight: 700;
  color: #ff3b30;
}

.content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.title h2 {
  margin: 0;
  font-size: 20px;
}

.status {
  width: auto;
  border: 1px solid #ff3b30;
  border-radius: 5px;
  color: #ff3b30;
  font-weight: 600;
}

.status.not-approved {
  padding: 5px 20px;
  background: linear-gradient(135deg, #ff3b30, #b30000, #ff5e57);
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.status.canceled {
  padding: 5px 20px;
  background: linear-gradient(135deg, #ff3b30, #b30000, #ff5e57);
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.status.approved {
  border: none;
  padding: 5px 20px;
  background: linear-gradient(135deg, #00ff00, #00b300, #4dff4d);
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.status.done {
  border: none;
  padding: 5px 20px;
  background: linear-gradient(135deg, #00ff00, #00b300, #4dff4d);
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.subtitle {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #777;
}

.subtitle-info {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 600;
  color: #777;
}

.content .divider {
  width: 90%;
  margin-bottom: 5rem;
}

.roomdesc .form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  margin: 2rem 0;
}

.roomdesc .form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}

.roomdesc .form-group input,
.roomdesc .form-group textarea {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  background: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
}

.roomdesc .form-group textarea {
  resize: vertical;
  height: 100px;
}

.signed {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

.signed p {
  margin: 0 0 10px 0;
  color: #red;
}

.signed label {
  display: block;
  margin-bottom: 5px;
}

.lock {
  font-size: 16px;
  margin-left: 5px;
}

/* .back-button {
  display: block;
  margin: 20px auto 0;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
} */

.container-roomdesc .btn {
  width: 15%;
}
/* End of Room Desc Section */

/* Account Section */
.account-section {
  position: relative;
  background-color: var(--medium-gray);
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  transition: all 0.5s ease;
  z-index: 1;
  scroll-padding-top: 2rem;
  scroll-padding-bottom: 2rem;
}

.sidebar.open ~ .account-section {
  left: 90px;
  width: calc(100% + 90px);
}

.main-account {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  scroll-snap-align: start;
}

.content-account {
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: 10px 10px 10px #000000;
  width: 1000px;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.account-info {
  flex-grow: 2;
}

.account-info .divider {
  margin: 1rem 0 5rem;
  width: 80%;
}

.account-info .subtitle {
  font-size: 1.5rem;
}

.account-details .form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100px;
  margin: 2rem 0;
}

.account-details .form-group label {
  margin-bottom: 5px;
  font-weight: 450;
}

.account-details .form-group input,
.account-details .form-group textarea {
  padding: 8px;
  border: 1px solid #ddd;
  width: 80%;
  border-radius: 5px;
}

.account-details .form-group textarea {
  resize: vertical;
  height: 80px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 80%;
  height: 75%;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}

.profile .divider {
  width: 50%;
  margin: 2rem;
}
/* End of Account Section */

/* Contact Section */
.contact-section {
  position: relative;
  background-color: var(--medium-gray);
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  transition: all 0.5s ease;
  z-index: 1;
  scroll-padding-top: 3rem;
  scroll-padding-bottom: 1rem;
}

.sidebar.open ~ .contact-section {
  left: 90px;
  width: calc(100% + 90px);
}

.main-contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.content-contact {
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: 10px 10px 10px #000000;
  width: 1000px;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-info {
  flex-grow: 2;
}

.contact-info .divider {
  margin: 5rem 0 3rem;
  width: 80%;
}

.contact-info .subtitle {
  font-size: 1.5rem;
}

.contact-details .form-group {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  margin: 2rem 0;
}

.contact-details .form-group label {
  margin-bottom: 5px;
  font-weight: 450;
  font-size: 1.5rem;
}

.contact-details .form-group input,
.contact-details .form-group textarea {
  padding: 8px;
  border: 1px solid #ddd;
  width: 80%;
  border-radius: 5px;
}

.contact-details .form-group textarea {
  resize: vertical;
  height: 80px;
}

.contact {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .divider {
  width: 50%;
  margin: 2rem;
}
/* End of Contact Section */

/* Footer Section */
.footer {
  background: none;
  width: 100%;
  color: black;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding: 0 40px;
  transition: padding-left 0.5s ease;
  padding-left: var(--sidebar-width);
}

.sidebar-open .footer {
  padding-left: var(--sidebar-open-width);
}

.newsletter {
  display: flex;
  width: 100%;
  position: relative;
  top: 60px;
  max-width: 1000px;
  margin: 1px auto;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
  border-radius: 10px;
}

.newsletter-left h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.5;
  letter-spacing: 1px;
}

.newsletter-left h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.newsletter-right {
  width: 500px;
}

.newsletter-input {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.newsletter-input input {
  border: none;
  outline: none;
  background: transparent;
  width: 80%;
  padding-left: 10px;
  font-weight: 600;
}

.newsletter-input button {
  background-color: var(--third-bg-color);
  padding: 9px 15px;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

.newsletter-input button:hover {
  transition: 0.5s ease-in-out;
  background: var(--second-bg-color);
}

.footer-content {
  background-color: white;
  padding: 100px 40px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  scroll-snap-align: start;
  margin: 6rem;
  height: 60vh;
}

.social-links {
  margin: 15px 0px;
  display: flex;
  gap: 8px;
}

.links h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.social-links a {
  padding: 7px 11px;
  background-color: var(--third-bg-color);
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}

.social-links a:hover {
  background: var(--second-bg-color);
}

.social-links a i {
  margin: 2px;
  font-size: 1.1rem;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 40px 20px;
  font-size: 1.5rem;
}

.links p {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: black;
}

.links a {
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 600;
  color: black;
  transition: 0.5s all;
}

.links a:hover {
  color: var(--third-bg-color);
}

.links li {
  list-style-type: none;
  margin-bottom: 2rem;
}

p.copyright {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}

/* Responsive Website */
